@using PagedList.Mvc
@model PagedList.IPagedList<libray_management_system.Models.Tbl_Department>

@{
    ViewBag.Title = "ManageDepartment";
    Layout = "~/Views/_LayoutPage2.cshtml";
}



@if (ViewBag.delete != null)
{
    <script>

                                        $(document).ready(function(){

                                        alert('@ViewBag.delete');

                                        });

    </script>

}



<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Online Library Management System | Manage Categories</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- DATATABLE STYLE  -->
    <link href="~/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    @using (Html.BeginForm())
    {
        <style>
            body {
                width: 80%
            }

            table {
                width: 60%;
                border-collapse: collapse;
            }

                table tr {
                    border: solid thin;
                }

                    table tr td {
                        width: 20%;
                    }

            #pager {
                padding-left: 5%;
            }

                #pager p {
                    margin-left: 5%;
                }
        </style>
        <!------MENU SECTION START-->
        <!-- MENU SECTION END-->
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container">
                    <div class="row pad-botm">
                        <div class="col-md-12">

                        </div>


                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <h4 class="header-line">Manage Department</h4>

                                    <div class="panel-heading">
                                       
                                        @*<p>
                                            Find by name: @Html.TextBox("SearchString")
                                            <input type="submit" value="Search" />
                                        </p>*@
                                    </div>

                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" align="center">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Department</th>


                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {

                                                <tr class="odd gradeX">
                                                    <td class="center"> @Html.DisplayFor(modelItem => item.departmentid)</td>
                                                    <td class="center">   @Html.DisplayFor(modelItem => item.departmentname)</td>



                                                    <td class="center">

                                                        <button class="btn btn-primary"><i class="fa fa-edit "></i> @Html.ActionLink("Edit", "DepartmentEdit", new { id = item.departmentid })</button>

                                                        <button class="btn btn-danger"><i class="fa fa-trash"></i>  @Html.ActionLink("Delete", "DepartmentDelete", new { id = item.departmentid })</button>



                                                    </td>
                                                </tr>
                                            }





                                        </tbody>
                                    </table>

                                    <div id="pager">
                                        <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
                                        <span style=" color: black; float: left; padding: 8px 16px; background-color:cornflowerblue"> @Html.PagedListPager(Model, page => Url.Action("ManageDepartment", new { page }))</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>



            </div>
            </div>


            <?php include('includes/footer.php');?>
            <!-- FOOTER SECTION END-->
            <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
            <!-- CORE JQUERY  -->
            <script src="~/assets/js/jquery-1.10.2.js"></script>
            <!-- BOOTSTRAP SCRIPTS  -->
            <script src="~/assets/js/bootstrap.js"></script>
            <!-- DATATABLE SCRIPTS  -->
            <script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
            <script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>
            <!-- CUSTOM SCRIPTS  -->
            <script src="~/assets/js/custom.js"></script>
            }
    </body>
</html>
