@model libray_management_system.Models.Tbl_Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tbl_Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bookname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publisheryear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisheryear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookimae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookimae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.availablestock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.availablestock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalstok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalstok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isbnnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isbnnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accessionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accessionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Author.authorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Author.authorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Category.categoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Category.categoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Department.departmentname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Department.departmentname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Publisher.publishername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Publisher.publishername)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
